body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #000; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

#ui {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #00ff00; /* Verde Ninja */
    z-index: 100;
    pointer-events: none;
    text-shadow: 2px 2px 4px #000;
}

.stats {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

canvas {
    display: block;
}
